@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;

400;700;800&family=Mulish:wght@400;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a {
  color: #000;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

body {
  font-family: "Mulish", sans-serif;
  font-family: "Exo 2", sans-serif;
}

body._lock {
  overflow: hidden;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-top: 60px;
}

[class*=__container] {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0px 15px;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.svg-arrowRight-dims {
  width: 36px;
  height: 37px;
}

.svg-course-dims {
  width: 177px;
  height: 147px;
}

.svg-courseBg2-dims,
.card__course::after {
  width: 443px;
  height: 323px;
}

.svg-courseBg1-dims,
.card__course::before {
  width: 526px;
  height: 323px;
}

.svg-entrant-dims {
  width: 181px;
  height: 179px;
}

.svg-entrantBg1-dims,
.card__entrant::before {
  width: 458px;
  height: 303px;
}

.svg-entrantBg2-dims,
.card__entrant::after {
  width: 511px;
  height: 277px;
}

.svg-facebook-dims {
  width: 53px;
  height: 54px;
}

.svg-instagram-dims {
  width: 58px;
  height: 54px;
}

.svg-logo-dims {
  width: 50px;
  height: 65px;
}

.svg-mail-dims {
  width: 52px;
  height: 52px;
}

.svg-phone-dims {
  width: 53px;
  height: 53px;
}

.svg-pointmark-dims {
  width: 52px;
  height: 53px;
}

.svg-student-dims {
  width: 114px;
  height: 117px;
}

.svg-studentBg1-dims,
.card__student::before {
  width: 384px;
  height: 312px;
}

.svg-studentBg2-dims,
.card__student::after {
  width: 444px;
  height: 298px;
}

.svg-youtube-dims {
  width: 59px;
  height: 54px;
}

h1 {
  font-size: 90px;
}

h2 {
  font-size: 70px;
}

h3 {
  font-size: 36px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #025634;
  color: #e1fcde;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 90px;
}

.card::after,
.menu__sub-list {
  -webkit-transform: translate(0, 10%);
      -ms-transform: translate(0, 10%);
          transform: translate(0, 10%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

body._touch .card::after,
.card:hover::after,
body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: all;
}

.menu__icon {
  display: none;
}

.menu__icon._active {
  left: -15%;
  width: 10vw;
  height: 90px;
  background-color: #e1fcde;
  border-bottom: 1px solid #000;
}

.menu__icon._active span {
  -webkit-transform: scale(0) translate(0px, -50%);
      -ms-transform: scale(0) translate(0px, -50%);
          transform: scale(0) translate(0px, -50%);
}

.menu__icon._active:before,
.menu__icon._active:after {
  left: 20%;
  width: 60%;
  height: 7%;
  background-color: #025634;
}

.menu__icon._active:before {
  top: 50%;
  -webkit-transform: rotate(45deg) translate(0px, -50%);
      -ms-transform: rotate(45deg) translate(0px, -50%);
          transform: rotate(45deg) translate(0px, -50%);
}

.menu__icon._active:after {
  bottom: 50%;
  -webkit-transform: rotate(-45deg) translate(0px, 50%);
      -ms-transform: rotate(-45deg) translate(0px, 50%);
          transform: rotate(-45deg) translate(0px, 50%);
}

.menu__list > li {
  position: relative;
  margin: 0px 0px 0px 25px;
}

.menu__link {
  font-size: 26px;
  font-weight: 700;
}

.menu__link:hover {
  text-decoration: underline;
}

.menu__sub-list {
  position: absolute;
  top: 100%;
  right: 0;
  background: #e1fcde;
  padding: 15px;
  min-width: 10vw;
  font-size: 20px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__sub-list li {
  margin: 0px 0px 10px 0px;
}

.menu__sub-list li:last-child {
  margin: 0px 0px 0px 0px;
}

.menu__sub-link:hover {
  text-decoration: underline;
}

/* -------------------------------- */

body._pc .menu__list > li {
  min-width: 100px;
}

body._touch .menu__list > li {
  min-width: 120px;
}

body._touch .menu__list > li._active::after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

body._touch .menu__list > li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu__link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body._touch .menu__open-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body._touch .menu__open-link::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin: 5px 0px 0px 8px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #e1fcde;
}

.header__logo {
  z-index: 5;
}

.logo img {
  height: 65px;
  width: 50px;
}

.header__title {
  z-index: 5;
}

/* ------------------------------------- */

.title-page {
  font-weight: 700;
}

.title-page span {
  display: none;
}

/* ------------------------ */

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.preview {
  position: relative;
  max-height: 92.77vh;
  width: 100vw;
  color: #fff;
}

.preview .preview__title {
  font-weight: 900;
  letter-spacing: -0.0625em;
  position: absolute;
  bottom: 85px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.preview__img {
  max-width: 100vw;
  height: 92.77vh;
}

.preview__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 70% 30%;
     object-position: 70% 30%;
}

.cards {
  background-color: #e1fcde;
  padding: 70px 0 140px 0;
}

.cards__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
}

.card__img {
  z-index: 1;
}

.card__img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.card__title {
  z-index: 1;
  font-weight: 300;
  text-align: center;
}

.card::before,
.card::after {
  z-index: 0;
  position: absolute;
}

.card::after {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.no-webp .card__course::before{
  background: url(../img/courseBg1.png) no-repeat; }

.card__course::before {
  content: "";
  bottom: -33%;
}

.no-webp .card__course::after{
  background: url(../img/courseBg2.png) no-repeat; }

.card__course::after {
  content: "";
  top: -10%;
}

.no-webp .card__entrant::before{
  background: url(../img/entrantBg1.png) no-repeat; }

.card__entrant::before {
  content: "";
  bottom: -50%;
}

.no-webp .card__entrant::after{
  background: url(../img/entrantBg2.png) no-repeat; }

.card__entrant::after {
  content: "";
  top: 0%;
}

.card__entrant .card__img {
  margin-left: -20%;
}

.no-webp .card__student::before{
  background: url(../img/studentBg1.png) no-repeat; }

.card__student::before {
  content: "";
  bottom: -50%;
}

.no-webp .card__student::after{
  background: url(../img/studentBg2.png) no-repeat; }

.card__student::after {
  content: "";
  top: -35%;
}

body._touch .card .card__title span {
  border-bottom: 2px solid #00006b;
}

@media (min-width: 87.5em) {
  .title-page span {
    display: inline;
  }
}

@media (min-width: 75em) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__list > li {
    padding: 10px 0;
  }

  .menu__list > li:last-child {
    margin: 0px 25px 0px 25px;
  }

  .menu__link {
    color: #e1fcde;
  }

  .menu__sub-link {
    color: #025634;
  }

  .header__menu {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .header__title {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .header__logo {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media (max-width: 87.4375em) {
  .card::before,
  .card::after {
    -webkit-transform: scale(0.7) !important;
        -ms-transform: scale(0.7) !important;
            transform: scale(0.7) !important;
  }
}

@media (max-width: 74.9375em) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 44px;
    height: 33px;
    cursor: pointer;
  }

  .menu__icon::before,
  .menu__icon::after,
  .menu__icon span {
    left: 0;
    position: absolute;
    height: 24%;
    width: 87.5%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #e1fcde;
    border-radius: 90px;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
    width: 100%;
  }

  .menu__body {
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 90px 0px 30px 0px;
    -webkit-transition: top 0.3s ease 0s;
    -o-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
    overflow: auto;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 90px;
    background-color: #025634;
    z-index: 2;
  }

  .menu__body._active {
    top: 0;
  }

  .menu__sub-list {
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    top: 0;
  }

  .menu__list > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
    margin: 0px 0px 0px 0px;
    background-color: #e1fcde;
    padding: 22px 0px;
    border-bottom: 1px solid #000000;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }

  .menu__list > li._active .menu__sub-list,
  .menu__list > li:hover .menu__sub-list {
    display: block;
    position: absolute;
    right: -40vw;
    border-left: 1px solid #000;
    width: 40vw;
    padding: 0;
  }

  .menu__list > li._active .menu__sub-list li,
  .menu__list > li:hover .menu__sub-list li {
    margin: 0;
    padding: 22px 0;
    font-weight: 700;
    border-bottom: 1px solid #000;
  }

  .menu__list > li:last-child {
    margin-bottom: 0;
  }

  .menu__link {
    width: 60vw;
    font-size: 36px;
    text-align: center;
  }

  .menu__open-link::after {
    position: absolute;
    left: 92%;
    z-index: 1;
    border-top: 10px solid #000 !important;
  }

  .menu__sub-link {
    font-size: 36px;
  }

  .title-page span {
    display: inline;
  }

  .card {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 45%;
            flex: 1 0 45%;
  }

  .card__entrant {
    margin-top: 15vh;
  }

  .card__student {
    margin-top: 23vh;
  }
}

@media (max-width: 47.9375em) {
  .card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.webp .card__course::before{ background: url(../img/courseBg1.webp) no-repeat; }

.webp .card__course::after{ background: url(../img/courseBg2.webp) no-repeat; }

.webp .card__entrant::before{ background: url(../img/entrantBg1.webp) no-repeat; }

.webp .card__entrant::after{ background: url(../img/entrantBg2.webp) no-repeat; }

.webp .card__student::before{ background: url(../img/studentBg1.webp) no-repeat; }

.webp .card__student::after{ background: url(../img/studentBg2.webp) no-repeat; }