@import "fontsPreload";
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;700;800&family=Mulish:wght@400;600;700;800;900&display=swap");
@import "reset";
@import "px2em";
@import "adaptivValue";

body {
	font-family: "Mulish", sans-serif;
	font-family: "Exo 2", sans-serif;
	&._lock {
		overflow: hidden;
	}
}

main {
	flex: 1 1 auto;
}

[class*="__container"] {
	max-width: calc(1770px + 30px); // Enter the value
	margin: 0 auto;
	padding: 0px 15px;
}

//* ----- Working with images ----- *//

.img-fluid {
	width: 100%;
	height: auto;
}

.svg-arrowMenu-dims {
	width: 30px;
	height: 31px;
}
.svg-arrowRight-dims {
	width: 36px;
	height: 37px;
}
.svg-course-dims {
	width: 177px;
	height: 147px;
}
.svg-courseBg2-dims {
	width: 443px;
	height: 323px;
}
.svg-courseBg1-dims {
	width: 526px;
	height: 323px;
}
.svg-entrant-dims {
	width: 181px;
	height: 179px;
}
.svg-entrantBg1-dims {
	width: 458px;
	height: 303px;
}
.svg-entrantBg2-dims {
	width: 511px;
	height: 277px;
}
.svg-facebook-dims {
	width: 53px;
	height: 54px;
}
.svg-instagram-dims {
	width: 58px;
	height: 54px;
}
.svg-logo-dims {
	width: 50px;
	height: 65px;
}
.svg-mail-dims {
	width: 52px;
	height: 52px;
}
.svg-phone-dims {
	width: 53px;
	height: 53px;
}
.svg-pointmark-dims {
	width: 52px;
	height: 53px;
}
.svg-student-dims {
	width: 114px;
	height: 117px;
}
.svg-studentBg1-dims {
	width: 384px;
	height: 312px;
}
.svg-studentBg2-dims {
	width: 444px;
	height: 298px;
}
.svg-youtube-dims {
	width: 59px;
	height: 54px;
}

//* --------- Variables ------------ *//

$darkColor: #025634;
$lightColor: #e1fcde;
$mainColor: #03b26b;

//* -------Title's font-size-------- *//

h1 {
	@include adaptiv-value("font-size", 90, 0, 2);
}
h2 {
	@include adaptiv-value("font-size", 70, 48, 0);
}
h3 {
	@include adaptiv-value("font-size", 36, 0, 2);
}
h4 {
	font-size: 24px;
}
//* --------- Header ------------ *//
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	background-color: $darkColor;
	color: $lightColor;
}

.header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include adaptiv-value(min-height, 90, 60, 1);
}

//! Insivible and Visible mod's //

%invisible {
	transform: translate(0, 10%);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
%visible {
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
	pointer-events: all;
}

//! ---------------------------//

//* --------- Menu Burger ------------ *//

.header__menu {
}
.menu {
}
.menu__icon {
	display: none;
	&._active {
		width: 100px;
		//* Start burger-icon without container
		margin-left: -15px;
		//* ---------------------------------
		@include adaptiv-value(min-height, 90, 60, 1);
		background-color: $lightColor;
		border-bottom: 1px solid #000;
		span {
			transform: scale(0) translate(0px, -50%);
		}
		&:before,
		&:after {
			left: 20%;
			width: 60%;
			height: 7%;
			background-color: $darkColor;
		}
		&:before {
			top: 50%;
			transform: rotate(45deg) translate(0px, -50%);
		}
		&:after {
			bottom: 50%;
			transform: rotate(-45deg) translate(0px, 50%);
		}
	}
}
.menu__body {
}
.menu__list {
	> li {
		position: relative;
		margin: 0px 0px 0px 25px;
	}
}
.menu__link {
	font-size: 26px;
	font-weight: 700;
	&:hover {
		text-decoration: underline;
	}
}
.menu__sub-list {
	position: absolute;
	top: 100%;
	right: 0;
	background: $lightColor;
	padding: 15px;
	min-width: 10vw;
	font-size: 20px;
	text-align: center;
	transition: all 0.3s ease 0s;
	li {
		margin: 0px 0px 10px 0px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}
	@extend %invisible;
}
.menu__sub-link {
	&:hover {
		text-decoration: underline;
	}
}

/* -------------------------------- */
//* ---- PC/Touch phone detect changes ---- *//

body._pc {
	.menu__list > li {
		min-width: 105px;
		&:hover .menu__sub-list {
			@extend %visible;
		}
	}
}
body._touch {
	.menu__list > li {
		&._active {
			&::after {
				transform: rotate(-180deg);
			}
			.menu__sub-list {
				opacity: 1;
				visibility: visible;
				transform: translate(0px, 0px);
				pointer-events: all;
				@media (max-width: 575px) {
					position: static;
				}
			}
		}
	}

	.menu__link {
		padding: 0 2%;
		min-width: 110px;
	}
	.menu__open-link {
		display: flex;
		align-items: center;
		&::after {
			content: "";
			display: block;
			margin: 5px 0px 0px 8px;
			transition: transform 0.3s ease 0s;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 10px solid $lightColor;
		}
		&::after:default {
			width: 0;
			height: 0;
		}
	}
}
//* ---------Header Styles--------------- */

.header__logo {
	z-index: 5;
}
.logo img {
	height: 65px;
	width: 50px;
}
.header__title {
	z-index: 5;
}
/* ------------------------------------- */

//*
.title-page {
	font-weight: 700;
	@include adaptiv-value(font-size, 36, 24, 1);
	span {
		display: none;
	}
}
.header__logo {
}
.logo {
}

/* ------------------------ */

//* Style's of index.html

.wrapper {
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.page__index {
}

//*----- First-screen -----*//

.preview {
	position: relative;
	max-height: 100vh;
	width: 100vw;
	color: #fff;
	.preview__title {
		font-weight: 900;
		text-align: center;
		letter-spacing: -0.0625em;
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.3215686275), transparent);
		position: absolute;
		width: 100%;
		@include adaptiv-value("padding-bottom", 85, 60, 0);
		padding-left: 15px;
		padding-right: 15px;
		height: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-direction: column;
		span {
			display: none;
			font-weight: 700;
			@include adaptiv-value("font-size", 40, 30, 1);
			letter-spacing: normal;
			@include adaptiv-value("margin-bottom", 15, 0, 1);
		}
	}
}
.preview__img {
	max-width: 100vw;
	height: 100vh;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: 70% 10%;
	}
}

.cards {
	background-color: $lightColor;
	padding: 120px 0 170px 0;
	&__container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		align-content: center;
		justify-content: space-between;
	}
}
.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: relative;
	flex: 1 0 30%;
	&__img {
		z-index: 1;
		img {
			object-fit: cover;
			object-position: center;
		}
	}

	&__title {
		z-index: 1;
		font-weight: 300;
		text-align: center;
	}

	&::before,
	&::after {
		z-index: 0;
		position: absolute;
	}
	&::after {
		transition: all 1s;
		@extend %invisible;
	}
	&:hover {
		&::after {
			@extend %visible;
		}
	}

	&__course {
		&::before {
			content: "";
			background: url(../img/courseBg1.png) no-repeat;
			@extend .svg-courseBg1-dims;
			bottom: -33%;
		}
		&::after {
			content: "";
			background: url(../img/courseBg2.png) no-repeat;
			@extend .svg-courseBg2-dims;
			top: -10%;
		}
	}

	&__entrant {
		&::before {
			content: "";
			background: url(../img/entrantBg1.png) no-repeat;
			@extend .svg-entrantBg1-dims;
			bottom: -50%;
		}
		&::after {
			content: "";
			background: url(../img/entrantBg2.png) no-repeat;
			@extend .svg-entrantBg2-dims;
			top: 0%;
		}
		.card__img {
			margin-left: -20%;
		}
	}

	&__student {
		&::before {
			content: "";
			background: url(../img/studentBg1.png) no-repeat;
			@extend .svg-studentBg1-dims;
			bottom: -50%;
		}
		&::after {
			content: "";
			background: url(../img/studentBg2.png) no-repeat;
			@extend .svg-studentBg2-dims;
			top: -35%;
		}
	}
}

.news {
	padding: 66.5px 0;
	background-color: $mainColor;
	&__container {
	}

	&__title {
		font-weight: 700;
		color: #fff;
		text-align: center;
		margin-bottom: 48px;
		span {
			font-weight: 300;
			margin-top: 10px;
			display: inline-block;
		}
	}

	&__body {
	}
}
.body-news {
	&__items {
		display: flex;
		flex-wrap: wrap;
		gap: 55px;
	}

	&__item {
		flex: 1 1 45%;
		border-radius: 10px;
		overflow: hidden;
	}

	&__more {
		display: flex;
		justify-content: center;
		margin-top: 38px;
	}

	&__show-more {
		color: #fff;
		font-size: 36px;
		text-align: center;
		padding: 15px 65px;
		border-radius: 10px;
		background-color: #01814d;
		transition: all 0.3s ease 0s;
		h3 {
			min-width: 220px;
		}
		&:hover,
		&._active {
			background-color: $darkColor;
		}
	}
}
.item {
	display: flex;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	transition: all 1s ease 0s;
	&__img {
		flex: 1 1 48%;
		position: relative;
		border-radius: 10px 0px 0px 10px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
			object-position: top left;
		}
	}

	&__body {
		flex: 1 1 52%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__content {
		flex: 1 1 auto;
		padding: 36px 7px;
		text-align: center;
		background-color: $lightColor;
	}

	&__title {
		font-weight: 700;
		margin-bottom: 30px;
	}

	&__text {
		font-weight: 300;
		font-size: 20px;
	}

	&__more {
		padding: 20px 10px;
	}

	&__show-more {
		font-weight: 700;
		color: #fff;
		display: flex;
		justify-content: center;
		&::after {
			margin-left: 10px;
			content: " ";
			width: 36px;
			height: 37px;
			background: url(../img/arrowRight.svg);
			transition: all 0.3s ease 0s;
		}
		&:hover {
			&::after {
				margin-right: -10px;
			}
		}
	}

	&._hidden {
		@extend %invisible;
		transform: translate(0, -300%) scale(0.9);
		position: absolute;
	}
}

body._touch {
	.card {
		.card__title span {
			border-bottom: 1px solid #00006b;
		}
		&::after {
			@extend %visible;
			z-index: 0;
		}
	}
	.body-news__show-more {
		border-bottom: 1px solid #000;
	}
}

//* Media query's -----------------
@media (min-width: em(1400px)) {
	.title-page span {
		display: inline;
	}
}

@media (min-width: em(1200px)) {
	.header__menu {
		order: 2;
	}
	.header__title {
		order: 1;
	}
	.header__logo {
		order: 3;
	}
	.menu__list {
		display: flex;
		align-items: center;
		> li {
			padding: 10px 0;
			&:last-child {
				margin: 0px 25px 0px 25px;
			}
		}
	}
	.menu__link {
		color: $lightColor;
	}
	.menu__sub-link {
		color: $darkColor;
	}
}
@media (max-width: em(1800px)) {
	[class*="__container"] {
		max-width: 1430px;
	}
	.card {
		&::before,
		&::after {
			transform: scale(0.7) !important;
		}
	}
}
@media (max-width: em(1399px)) {
}

@media (max-width: em(1199px)) {
	.title-page span {
		display: inline;
	}
	//* --------- Burger Active ------------ *//
	//* Styling a Burger -------
	.menu__icon {
		z-index: 5;
		display: block;
		position: relative;
		width: 44px;
		height: 33px;
		cursor: pointer;
		&::before,
		&::after,
		span {
			left: 0;
			position: absolute;
			height: 24%;
			width: 87.5%;
			transition: all 0.3s ease 0s;
			background: $lightColor;
			border-radius: 90px;
		}
		&::before,
		&::after {
			content: "";
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: 50%;
			transform: scale(1) translate(0px, -50%);
			width: 100%;
		}
	}
	//* -----------------
	//* Transform menu in open Burger-menu
	.menu__body {
		position: fixed;
		left: 0;
		top: -100%;
		width: 100%;
		height: 100%;
		background-color: rgba($color: #000000, $alpha: 0.8);
		@include adaptiv-value(padding-top, 90, 60, 1);
		padding-bottom: 30px;
		transition: top 0.3s ease 0s;
		overflow: auto;

		//* Header plank -------
		&::before {
			content: "";
			position: fixed;
			width: 100%;
			top: 0;
			left: 0;
			@include adaptiv-value(min-height, 90, 60, 1);
			background-color: $darkColor;
			z-index: 2;
		}
		//* --------------------

		//* Move menu bottom ---
		&._active {
			top: 0;
		}
		//* --------------------
	}
	//* -----------------------

	//* New start position (position in Burger) ---
	.menu__sub-list {
		transform: translate(0px, 0px);
		top: 0;
	}
	//* -------------------------------------------

	.menu__list {
		> li {
			//* Aside postion for menu -------
			display: flex;
			flex-wrap: wrap;
			margin: 0px 0px 0px 0px;
			background-color: $lightColor;
			padding: 22px 0px;
			border-bottom: 2px solid #000000;
			max-width: fit-content;
			//* ------------------------------
			//* Active sub-list --------------
			&._active,
			&:hover {
				.menu__sub-list {
					right: -40vw;
					border-left: 2px solid #000;
					width: 40vw;
					padding: 0;
					li {
						margin: 0;
						padding: 22px 0;
						font-weight: 700;
						border-bottom: 2px solid #000;
					}
				}
			}
			//* ------------------------------
		}
		> li:last-child {
			margin-bottom: 0;
		}
	}
	.menu__link {
		width: 60vw;
		font-size: 36px;
		text-align: center;
	}

	//* Arrow to open sub-list --------
	.menu__open-link {
		&::after {
			position: absolute;
			right: 5%;
			z-index: 1;
			border: 0px !important;
			background: url(@img/arrowMenu.svg);
			width: 30px;
			height: 31px;
		}
	}
	//* ---------------
	.menu__sub-link {
		font-size: 36px;
	}
	//* --------- Burger Active ------------ *//

	//* Cards *//
	.cards__container {
		align-items: flex-end;
	}
	.card {
		flex: 1 0 45%;
		&__student {
			@include adaptiv-value("margin-top", 5, 15, 4);
		}
	}
}

@media (max-width: em(991px)) {
	.body-news__item {
		flex: 1 1 auto;
	}
}

@media (max-width: em(767px)) {
	.title-page {
		display: none;
	}
	.preview .preview__title span {
		display: block;
	}
	.card {
		flex: 1 1 100%;
	}
	.menu__sub-link {
		font-size: 32px;
		font-weight: 400;
	}
	.menu__sub-list {
		li {
			height: 81px;
		}
	}
	.card {
		&__student {
			@include adaptiv-value("margin-top", 5, 30, 4);
		}
		&__entrant {
			@include adaptiv-value("margin-top", 10, 20, 4);
		}
	}
}

@media (max-width: em(575px)) {
	.menu__list > li {
		min-width: 100%;
		border-bottom: 0px;
		&._active {
			.menu__sub-list {
				border: 1px solid #000;
				margin: 0;
				border-bottom: 0px;
			}
			&::after {
				top: 7%;
				transform: rotate(-90deg) !important;
				margin: -5px 0px 0px 8px !important;
			}
			.menu__link {
				padding-bottom: 5%;
			}
		}
		.menu__link {
			flex: 1 1 100%;
		}
		&::after {
			right: 2% !important;
			margin: 0px 0px 0px 8px !important;
			transform: rotate(90deg) !important;
		}
		.menu__sub-list {
			margin: -150% 0 0 0%;
			width: 100% !important;
			position: static;
		}
	}
	.menu__icon._active {
		border-bottom: none;
	}
	.item {
		flex-direction: column;
		&__img {
			max-height: 48vh;
			img {
				position: static;
			}
		}
	}
}
